* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: #faf6ed;
}

.slide-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 50px 0;
  gap: 50px;
}

.slide-wrapper img:not(.centerImgSlide) {
  flex: 1;
  display: block;
  max-width: 43%;
  transition: all 0.3s;
  opacity: 0.9;
}

.slide-wrapper img:nth-child(1) {
  margin-left: 30%;
}
.slide-wrapper img:nth-child(6) {
  margin-right: 30%;
}

.centerImgSlide {
  max-width: 55%;
  transition: all 0.3s;
}
