* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: #faf6ed;
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;
}

.carousel img {
  display: block;
  max-width: 700px;
}
